// Color declaration
$platinum: #e2dce7;
$athens-gray: #e5e7e9;
$white: #ffffff;
$rebecca-purple: #662d91;
$light-lavender: #faf6fe;
$black: #000000;
$spanish-gray: #999999;
$dark-charcoal: #313131;

:export {
    platinum: $platinum;
    white: $white;
    rebecca_purple: $rebecca-purple;
    athens_gray: $athens-gray;
    light_lavender: $light-lavender;
    black: $black;

}